.about-img {
  width: 250px;
}

#about .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .about-img {
    margin-left: 50px;
  }

  #about .container {
    flex-direction: row;
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1024px) {
  .about-img {
    width: 300px;
  }

  .paragraph-container {
    margin-right: 50px;
  }
}
