#about .container {
  display: flex;
  flex-direction: column;
  position: relative;
  background-color: var(--white);
}

.about-img {
  width: 250px;
}

.img-container {
  display: flex;
  justify-content: center;
}

@media screen and (min-width: 43rem) {
  .about-img {
    padding-left: 30px;
  }

  #about .container {
    flex-direction: row;
  }
}

@media screen and (min-width: 62rem) {
  .about-img {
    width: 300px;
  }

  .paragraph-container {
    margin-right: 50px;
  }
}
