#contact {
    background-color: var(--cream);
}

#contact .container li {
    list-style-type: none;
    display: flex;
    align-items: center;
}

.icons {
    width: 25px;
    padding: 10px 10px 10px 0;
}




/* Tablet */
/* @media screen and (min-width: 768px) {
    #contact {
        display: flex;
        align-items: center;
    }

    .contact-paragraph > p {
        margin-right: 50px;
    }
} */

/* Desktop */
/* @media screen and (min-width: 1080px) {
    #contact {
        padding: 40px 150px 40px 160px;
    }

    .contact-paragraph > h2 {
        font-size: 36px;
    }

    .contact-paragraph > p{
        font-size: 24px;
    }

    .phone p,
    .email p,
    .location p {
        font-size: 24px;
    }

    .contact-paragraph {
        margin-top: 50px;
        margin-bottom: 50px;
    }

    .phone img,
    .email img {
        width: 30px;
        height: 25px;
    }

    .location img {
        width: 25px;
        height: 30px;
    }
}

@media screen and (min-width: 1280px) {
    .tech-cards{
        margin-left: 100px;
        margin-right: 110px;
    }
} */

/* Desktop L*/
/* @media screen and (min-width: 1440px) {
    .info-section{
        margin-right: 170px;
    }  

    .contact-paragraph {
        margin-right: 80px;
        margin-left: 100px;
    }
} */






