#contact {
  background-color: var(--cream);
}

#contact .container li {
  list-style-type: none;
  display: flex;
  align-items: center;
}

.icons {
  width: 25px;
  padding: 10px 10px 10px 0;
}

@media screen and (min-width: 43rem) {
  #contact .container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 90px;
  }
}

@media screen and (min-width: 62rem) {
  #contact .container {
    column-gap: 150px;
  }
}
