.footer-section {
    background-color: var(--blue-king);
    height: 100px;
    width: 100%;
}

.social-media{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.copy-right {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.copy-right img{
    height: 10px;
    width: 10px;
    margin-right: 10px;
}

.copy-right-text{
    font-size: 10px;
    margin: 0;
    color: var(--mustard-yellow)
}

.social-media img{
    margin-top: 30px;
    width: 24px;
    height: 24px;
}

/* mobile M */
@media screen and (min-width: 375px) {
    .social-media {
        margin: 0 40px;
    }
}

/* mobile L */
@media screen and (min-width: 425px) {
    .social-media {
        margin: 0 70px;
    }
}

/* Tablet */
@media screen and (min-width: 768px) {
    .social-media {
        margin: 0 200px;
    }
}

/* Desktop */
@media screen and (min-width: 1024px) {
    .social-media{
        margin: 0 300px;
    }

    .social-media > img {
        width: 30px;
        height: 30px;
    }
    
}

