nav {
  position: fixed;
  top: 0;
  width: 100%;
  height: 60px;
  background-color: var(--white);
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.25);
  z-index: 1;
}

.nav-header {
  padding: var(--space-medium) 0 0;
}

.menu {
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 0;
  margin: 0;
}

.nav-item {
  color: var(--blue-king);
  cursor: pointer;
  transition: 0.4s;
}

.header-logo {
  width: 40px;
  height: 40px;
  cursor: pointer;
}

.menu p {
  display: none;
}

a:link,
a:focus,
a:hover,
a:active {
  color: #f4b026;
}

@media screen and (min-width: 30rem) {
  .nav-header ul.menu > a {
    display: flex;
    gap: var(--space-small);
    position: absolute;
    top: 20px;
    margin-left: var(--space-medium);
  }

  .nav-header ul.menu {
    display: block;
    text-align: right;
    padding-top: 12px;
    margin-right: var(--space-small);
  }

  ul .nav-item {
    margin-right: var(--space-medium);
    display: inline;
    margin: 5px;
  }

  .nav-header p {
    display: inline-block;
    margin: 0;
    padding-top: var(--space-small);
  }
}

@media screen and (min-width: 43rem) {
  .nav-header ul.menu {
    margin-right: var(--space-xxbig);
    margin-left: var(--space-xxbig);
  }
}
