@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Calligraffitti&display=swap");

#hero {
  width: 100vw;
  height: 100vh;
  background-color: var(--green);
}

#hero .container {
  position: relative;
}

.hero-text-up,
.hero-text-down {
  position: absolute;
  font-weight: 900;
  text-align: center;
  transform: translate(-50%, -50%);
}

#hero .container img {
  width: 350px;
  padding: 100px 0 0 30px;
}

.hero-text-up {
  color: #b91646;
  font-size: 38px;
  top: 75%;
  left: 50%;
}

.hero-text-down {
  width: 350px;
  font-size: 20px;
  font-family: "Bebas Neue", cursive;
  letter-spacing: 1px;
  color: white;
  top: 85%;
  left: 50%;
}

@media screen and (min-width: 30rem) {
  #hero .container {
    display: flex;
    justify-content: center;
  }

  .hero-text-up {
    top: 85%;
  }

  .hero-text-down {
    top: 95%;
  }
}

@media screen and (min-width: 43rem) {
  #hero .container img {
    padding-top: 70px;
  }

  .hero-text-up {
    font-size: 42px;
    top: 95%;
  }

  .hero-text-down {
    top: 110%;
    font-size: 26px;
  }
}

@media screen and (min-width: 62rem) {
  .hero-text-up {
    top: 115%;
  }

  .hero-text-down {
    top: 130%;
  }
}
