.project-info {
  cursor: pointer;
}

.project-info > img {
  height: 85px;
  width: 115px;
  border-radius: 10px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.1), 0 1px 20px 0 rgba(0, 0, 0, 0.19);
  transition: 0.4s;
}

.project-info > img:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.1), 0 6px 10px 0 rgba(0, 0, 0, 0.5);
}

.project-info > p {
  margin-bottom: 10px;
  margin-top: 0px;
  font-size: 11px;
  font-weight: bold;
}

.coming-soon {
  background-color: rgba(76, 84, 81, 0.5);
  height: 85px;
  width: 115px;
  border-radius: 10px;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.project-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (min-width: 43rem) {
  .project-info > p {
    font-size: 15px;
  }

  .project-info > img {
    height: 95px;
    width: 110px;
  }

  .coming-soon {
    height: 95px;
    width: 110px;
  }
}

@media screen and (min-width: 62rem) {
  .project-info > img {
    height: 110px;
    width: 120px;
  }

  .coming-soon {
    height: 110px;
    width: 120px;
  }
}
