#projects {
  background-color: var(--cream);
}

#projects .container {
  position: relative;
}

#projects .projects-cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
}

@media screen and (min-width: 768px) {
  #projects .container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 30px;
  }

  #projects .projects-cards {
    column-gap: 10px;
    grid-template-columns: repeat(3, 1fr);
  }
}
