#projects {
  background-color: var(--cream);
}

#projects .projects-cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.project-info p {
  margin: 0;
}

@media screen and (min-width: 30rem) {
  #projects .projects-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 20px;
  }
}

@media screen and (min-width: 43rem) {
  #projects .container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 30px;
  }

  #projects .projects-cards {
    column-gap: 8px;
  }
}
