#tech {	
    background-color: var(--white);
}

.tech-cards{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 20px;    
}

#tech > .container > p {
    margin: 25px 0;
}






/* Mobile M */
/* @media screen and (min-width: 375px) {
    .tech-cards{
        justify-content: space-between;
        padding-left: 0;
    }  
} */

/* Mobile L */
/* @media screen and (min-width: 425px) {
    #tech {
        padding: 35px 60px;
    }
} */

/* Tablets */
/* @media screen and (min-width: 768px) {
    #tech {
        display: flex;
        align-items: center;
        padding: 35px 35px 35px 60px;
    }

    .tech-info {
        margin-right: 40px;
    }
    
    .tech-info > h2{
        margin: 0;
    }

    .tech-cards{
        grid-template-columns: repeat(4, 1fr); 
        column-gap: 10px;
    }
} */

/* Desktop */
/* @media screen and (min-width: 1080px) {    
    #tech {
        padding: 60px 100px 60px 140px;
    }
    
    .tech-info > p{
        font-size: 24px;
        margin-right: 10px;
    }
}

@media screen and (min-width: 1280px) {
    .tech-cards{
        margin-left: 100px;
        margin-right: 110px;
    }
} */

/* Desktop L*/
/* @media screen and (min-width: 1440px) {
    .tech-cards{
        margin-left: 200px;
    }
} */
