#tech {
  background-color: var(--white);
}

.tech-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.tech-card-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#tech > .container > p {
  margin: 25px 0;
}

@media screen and (min-width: 30rem) {
  .tech-cards {
    grid-template-columns: repeat(4, 1fr);
    column-gap: 10px;
  }
}

@media screen and (min-width: 43rem) {
  #tech .container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 30px;
  }
}

@media screen and (min-width: 62rem) {
}
