#projects {
    background-color: var(--cream);
    padding: 35px;
} 

.container > h2 {
    margin: 0; 
}

#projects .projects-cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 20px;
}

/* mobile M */
@media screen and (min-width: 375px) {
    #projects {
        padding: 35px 45px;
    }
}

/* Mobile L */ 
@media screen and (min-width: 425px) {
    #projects .projects-cards {
        column-gap: 0;
        padding-left: 13px;
    }

    .container > p {
        margin-bottom: 20px; 
    }
}

/* Tablet */
@media screen and (min-width: 768px) {
    #projects {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        padding: 35px 20px 35px 60px;
    }

    .container {
        display: flex;
        flex-direction: column;
        justify-content: center;        
    }

    #projects .projects-cards {
        grid-template-columns: repeat(3, 1fr);
        column-gap: 0;
        padding: 0;
        margin-left: 20px;
    }
}


/* 
.projects-cards{
    display: flex;
    flex-wrap: wrap;
    margin-left: 40px;
}

.project-info-container > p {
    margin: 15px 40px;
}

.project-info-container > h2 {
    padding-top: var(--space-xbig);
    margin-left: var(--space-xbig);
} */

/* Mobile L 
@media screen and (min-width: 425px) {
    .project-info-container > p {
        margin: 10px 60px;
    }
    
    .project-info-container > h2 {
        margin-left: 60px;
    }

    .projects-cards{
        margin-left: 60px;
    }
} */

/* Tablets 
@media screen and (min-width: 768px) {
    #projects {
        display: flex;
        align-items: center;
    }

    .project-info-container > h2 {
        margin-top: 0;
        margin-left: 50px;
    }

    .project-info-container > p {
        margin-left: 50px;
        margin-right: 0;
        padding-right: 20px;
        font-size: 15px;
    }

    .projects-cards{
        margin: 0;
    }
} */

/* Desktop 
@media screen and (min-width: 1024px) {
    #projects {
        height: 100vh;	
    }

    .project-info-container > p {
        font-size: 20px;
        margin-right: 20px;
    }

    .project-info-container > h2 {
        font-size: 36px;
    }
} */

/* Desktop L
@media screen and (min-width: 1440px) {
    .project-info-container {
        margin-left: 60px;
    }
    
    .project-info-container > p {
        font-size: 24px;
        
    }

    .project-info-container > h2 {
        font-size: 36px;
    }
    
} */
 