.project-info > img{
    height: 80px;
    width: 105px;
    border-radius: 10px;
}

.project-info > p {
    margin-bottom: 10px;
    margin-top: 0px;
    font-size: 11px;
    font-weight: bold;
}

.project-info {
    margin-right: 30px;
    margin-top: 15px;
}

.coming-soon {
    background-color: rgba(76, 84, 81, 0.5);
    height: 80px;
    width: 105px;
    border-radius: 10px;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

/* mobile M */
@media screen and (min-width: 375px) {
    .project-info > img{
        height: 100px;
        width: 130px;
        border-radius: 20px;
    } 

    .coming-soon {
        height: 100px;
        width: 130px;
        border-radius: 20px;
    } 
}

/* Mobile L */
@media screen and (min-width: 425px) {
    .project-info{
        margin-right: 50px;
    }
    
}

/* tablet */
@media screen and (min-width: 768px) {
    .project-info {
        margin-right: 20px;
    }

    .project-info > img{
        height: 80px;
        width: 80px;  
    }

    .project-info > p {
        font-size: 10px;
    }

    .coming-soon {
        position: absolute;
        background-color: rgba(85, 132, 118, .5); 
        height: 80px;
        width: 80px;
        border-radius: 10px;
    }
    
    .projects-cards-container {
        margin-right: 25px;
        margin-top: 30px;
        margin-bottom: 30px;
    }

    .modal-container > img {
        width: 300px;
        height: 300px;
    }

    .modal-container {
        flex-direction: row;
        margin-left: 20px;
        margin-top: 20px;
    }

    .btn-app {
        margin-bottom: 5px;
        margin-left:70px;   
    }

    .btn-git {
        margin-bottom: 0;
        margin-left:70px;
    }
    
    .tech-options {
        margin-bottom: 2px;
    }

    .modal-info > h1 {
        margin-top: 0;
    }
}

/* Desktop */
@media screen and (min-width: 1024px) {
    .project-info > img{
        height: 90px;
        width: 90px;
        margin-right: 10px;  
    }
    
    .projects-cards-container {
        margin: 0;
    }

    .project-info > p {
        font-size: 12px;
    }

    .coming-soon {
        position: absolute;
        background-color: rgba(85, 132, 118, .5); 
        height: 90px;
        width: 90px;
        border-radius: 10px;
    }
}

/* Desktop L */
@media screen and (min-width: 1440px) {
    .project-info > img{
        height: 90px;
        width: 140px;
        margin-right: 10px;  
    }
    
}

