#projects .container {
  padding: 24px;
}

#projects .cards-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

/* Desktop */
@media (min-width: 1280px) {
  #projects .container {
    max-width: 960px;
    margin: 0 auto;
    padding: 100px 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 24px;
  }

  #projects .cards-container {
    grid-template-columns: repeat(4, 1fr);
    row-gap: 16px;
    column-gap: 16px;
  }
}

/* This code should not be here */
p {
  margin: 0 !important;
}
