.hero-section {
	/* Sizing */
    width: 100vw;
	height: 100vh;	

	/* flexbox */
	display: flex;
	justify-content: center;
	align-items: center;

	/* text styles */
	text-align: center;

	/* Background styles */
    background-image: url(../../assets/me_hero.png);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
	background-color: black;
    /*background-attachment: fixed;*/
}

.hero-txt {
	text-align: center;
	position: absolute;
	font-size: 15px;
	top: 50%;
	left: 50%;
	transform: translate(-100%, -130%);
	margin: 0;
	color: white;
}

/* mobile L */
@media screen and (min-width: 425px) {
    .hero-txt {
		font-size: 17px;
		top: 50%;
		left: 50%;
		transform: translate(-100%, -120%);
		margin: 0;
	}
}

/* Tablet */
@media screen and (min-width: 768px) {
    .hero-section {
		background-size:contain;
		background-position:right;
	}

	.hero-txt {
		font-size: 24px;
		transform: translate(-90%, -50%);
	}
}

/* Desktop */
@media screen and (min-width: 1024px) {
    .hero-section {
		background-position: 500px;
	}

	.hero-txt {
		font-size: 36px;
		transform: translate(-80%, -50%);
	}
}

/* Desktop L*/
@media screen and (min-width: 1440px) {
	.hero-section {
		background-position: 800px;
	}
}


