img {
    width: 150px;
    height: 250px;
}

.image-container {
    display: flex;
    justify-content: center; 
    background-color: var(--burned-yellow);
    width: 50%;
    box-shadow: 16px -16px var(--green-olive);
    margin-top: 30px;
    border-radius: 10px;
}

#about {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--white);
}

.info-container > p {
    margin: 5px 40px;
}

.info-container > h2 {
    margin-top: 30px;
    margin-left: var(--space-xbig);
    margin-bottom: 20px;
}

/* mobile L */
@media screen and (min-width: 425px) {
    .info-container > p {
        margin: 10px 60px;
    }

    .info-container > h2 {
        margin-left: 60px;
    }
}

/* Tablet */
@media screen and (min-width: 768px) {
    .about-section {
        flex-direction: row;
        align-items: center;
    }

    .info-container > p {
        font-size: 15px;
    }

    .image-container {
        margin-right: 60px;
    }

    img {
        width: 240px;
        height: 400px;
    }
}

/* Desktop */
@media screen and (min-width: 1024px) {
    .info-container > p {
        font-size: 20px;
    }

    .info-container > h1 {
        font-size: 36px;
    }

    .about-section {
        height: 100vh;	
    }

    .image-container {
        margin-bottom: 10px;
    }
}

/* Desktop L*/
@media screen and (min-width: 1440px) {
    .info-container > p {
        font-size: 24px;
    }

    .info-container > h1 {
        font-size: 36px;
    }

    .image-container {
        margin-right: 150px;
        margin-bottom: 10px;
    }

    .info-container {
        margin-left: 60px;
        margin-right: 80px;
    }
	
}

    
    

