svg {
    width: 24px;
    height: 24px;
}

.phone, 
.email,
.location {
    display: flex;
    margin-left: 40px;
    margin-bottom: 20px;
}

.phone p,
.email p,
.location p {
    margin: 0 20px;
}

.info-section{
    margin: 40px 0;
}

.contact-section > h1{
    margin-top: 10px;
    margin-left: 40px;
    padding-top: 20px;
}


