#contact {
    background-color: var(--cream);
}

.phone img,
.email img {
    width: 20px;
    height: 17px;
}

.location img {
    width: 19px;
    height: 22px;
}

.phone, 
.email,
.location {
    display: flex;
    margin-left: 40px;
    margin-bottom: 20px;
}

.phone p,
.email p,
.location p {
    margin: 0 20px;
}

.info-section{
    margin: 40px 0;
}

.contact-paragraph > h1{
    margin-top: 10px;
    margin-left: 40px;
    padding-top: 20px;
}

.contact-paragraph > p{
    margin: 0 40px;
}

/* Mobile L */
@media screen and (min-width: 425px) {
    .contact-paragraph > h1{
        margin-left: 60px;
    }

    .contact-paragraph > p{
        margin: 0 60px;
    }

    .phone, 
    .email,
    .location {
        margin-left: 60px;
    } 
}

/* Tablet */
@media screen and (min-width: 768px) {
    .contact-section {
        display: flex;
        align-items: center;
    }

    .contact-paragraph > h1{
        margin-top: 0;
        padding-top: 0;
    }

    .info-section{
        margin-right: 40px;
    }

    .contact-paragraph {
        margin-left: 40px;
        margin-bottom: 30px;
    }  
}

/* Desktop */
@media screen and (min-width: 1024px) {
    .about-section {
        height: 100vh;	
    }

    .contact-paragraph > h1 {
        font-size: 36px;
    }

    .contact-paragraph > p{
        font-size: 24px;
    }

    .phone p,
    .email p,
    .location p {
        font-size: 24px;
    }

    .contact-paragraph {
        margin-top: 50px;
        margin-bottom: 50px;
    }
    
    .info-section{
        margin-top: 50px;
        margin-right: 60px;
    }
}

/* Desktop L*/
@media screen and (min-width: 1440px) {
    .info-section{
        margin-right: 170px;
    }  

    .contact-paragraph {
        margin-right: 80px;
        margin-left: 100px;
    }
}






