.tech-section {	
    background-color: #E5E5E5;
}

.tech-cards{
    display: flex;
    flex-wrap: wrap;
    margin-left: 40px;
    margin-right: 30px;
}

.tech-info{
    margin-right: 30px;
    margin-top: 15px;
}

.tech-info > h1{
    margin: 30px 40px;
    padding-top: 40px;
}

.tech-info > p{
    margin: 30px 40px;
}

/* Mobile M */
@media screen and (min-width: 375px) {
    .tech-cards{
        justify-content: space-between;
    }  
}

/* Mobile L */
@media screen and (min-width: 425px) {
    .tech-info > h1{
        margin: 30px 50px;
    }

    .tech-info > p{
        margin: 30px 50px;
    }

    .tech-cards{
        margin-left: 50px;
    }
}

/* Tablets */
@media screen and (min-width: 768px) {
    .tech-section {
        display: flex;
        align-items: center;
    }

    .tech-info > h1{
        margin-left: 60px;
        margin-top: 0;
        padding: 0;
    }
    
    .tech-info > p{
        margin-left: 60px;
        margin-right: 0;
    }

    .tech-cards{
        margin-left: 50px;
    }

    .tech-cards-container{
        margin: 50px 40px;
    }
}

/* Desktop */
@media screen and (min-width: 1024px) {
    .tech-section {
        height: 100vh;	
    }

    .tech-info > h1{
        font-size: 36px;
    }
    
    .tech-info > p{
        font-size: 24px;
    }

    .tech-info {
        margin-left: 60px;
    }
}

/* Desktop L*/
@media screen and (min-width: 1440px) {
    .tech-cards{
        margin-left: 200px;
        margin-right: 110px;
    }
}
