#tech {	
    background-color: var(--white);
    padding: 35px;
}

.tech-cards{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding-left: 10px;
}

.tech-info > h2{
    margin: 0;
}

.tech-info > p{
    margin: 20px 0;
}

/* Mobile M */
@media screen and (min-width: 375px) {
    .tech-cards{
        justify-content: space-between;
        padding-left: 0;
    }  
}

/* Mobile L */
@media screen and (min-width: 425px) {
    #tech {
        padding: 35px 60px;
    }
}

/* Tablets */
@media screen and (min-width: 768px) {
    #tech {
        display: flex;
        align-items: center;
        padding: 35px 35px 35px 60px;
    }

    .tech-info {
        margin-right: 40px;
    }
    
    .tech-info > h2{
        margin: 0;
    }

    .tech-cards{
        grid-template-columns: repeat(4, 1fr); 
        column-gap: 10px;
    }
}

/* Desktop */
@media screen and (min-width: 1024px) {
    .tech-section {
        height: 100vh;	
    }

    .tech-info > h1{
        font-size: 36px;
    }
    
    .tech-info > p{
        font-size: 24px;
    }

    .tech-info {
        margin-left: 60px;
    }
}

/* Desktop L*/
@media screen and (min-width: 1440px) {
    .tech-cards{
        margin-left: 200px;
        margin-right: 110px;
    }
}
