@import url('https://fonts.cdnfonts.com/css/gilroy-bold');

html{
  background-color: white;
  font-family: 'Gilroy-Medium', sans-serif;
  text-align: justify;
  text-justify: inter-word;
}

body {
	margin: 0;
	padding: 0;
}

#hero .container {
  padding: var(--space-medium);
}

.container {
  padding: var(--space-xbig);
}

