h1, h2 {
    font-weight: bold ;
    font-size: 36px;
    color:var(--blue-king);
    margin: 0;
}

a { 
    font-size: 16px;
    color:var(--blue-king);
}

p {
    color:var(--blue-king);
}

button {
    font-family: 'Gilroy-Medium', sans-serif;
    font-weight: bold;
}



