/* Colors */
:root {
  --white: #ffffff;
  --black: #000000;
  --green: #105652;
  --yellow: #f9c041;
  --red: #b91646;
  --cream: #fbf3e4;
  --blue-king: #1f1841;
}

/* Space */
:root {
  --space-small: 8px;
  --space-medium: 16px;
  --space-big: 32px;
  --space-xbig: 40px;
  --space-xxbig: 63px;
}
